<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889876200583-03lju1esulb78mivok1hrodslvi5t1jr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889876200583-03lju1esulb78mivok1hrodslvi5t1jr</string>
	<key>API_KEY</key>
	<string>AIzaSyDgQ5f7vx5WKKbzRGlVh7ksQijtubgu6A8</string>
	<key>GCM_SENDER_ID</key>
	<string>889876200583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.ibs.platform</string>
	<key>PROJECT_ID</key>
	<string>ibs-platform-4518a</string>
	<key>STORAGE_BUCKET</key>
	<string>ibs-platform-4518a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889876200583:ios:d330b85fd3b402e784cc22</string>
</dict>
</plist>